<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546887755757-djesrqsr0ha13l6ohga99pobh78qr6ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546887755757-djesrqsr0ha13l6ohga99pobh78qr6ga</string>
	<key>API_KEY</key>
	<string>AIzaSyBI0jC9XqF_2j17ZzPjLwrLJr4s1nEhBi4</string>
	<key>GCM_SENDER_ID</key>
	<string>546887755757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fascinate</string>
	<key>PROJECT_ID</key>
	<string>fascinate-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fascinate-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546887755757:ios:0507a85b5eb7d3c47769e4</string>
	<key>DATABASE_URL</key>
	<string>https://fascinate-app.firebaseio.com</string>
</dict>
</plist>